[submodule "src/main/XODB.Orchard/src/Orchard.Web/Modules/XODB.SpatialDMS"]
	path = src/main/XODB.Orchard/src/Orchard.Web/Modules/XODB.SpatialDMS
	url = ssh://au-bne-ds-001/home/developer/spatialdms
[submodule "src/main/XODB.Orchard/lib/impromptu-interface"]
	path= src/main/XODB.Orchard/lib/impromptu-interface
	url = https://github.com/ekonbenefits/impromptu-interface.git
[submodule "src/main/XODB.Orchard/src/Orchard.Web/Modules/XODB.TeamInsight"]
	path = src/main/XODB.Orchard/src/Orchard.Web/Modules/XODB.TeamInsight
	url = ssh://au-bne-ds-001/home/developer/teaminsight
