
@Html.Partial("Header")
@{
    Style.Require("XODBAdmin");

    Layout.Title = T("Block Models").ToString();
}
@if (AuthorizedFor(XODB.Permissions.ManageProjects)) {
    <h3>@Layout.Title</h3>
    Html.RenderPartial("ModelListPartial");
}