@if (AuthorizedFor(XODB.Permissions.ManageProjects)) {
    <p>Licensing</p>
    <p>User Sync</p>
    <p>DB (XODB) Sync</p>
    <p>Authorized</p>
    <p>No settings required.</p>
//    Dim myConfiguration As Configuration = System.Web.Configuration.WebConfigurationManager.OpenWebConfiguration("~")
//        myConfiguration.ConnectionStrings.ConnectionStrings("myDatabaseName").ConnectionString = txtConnectionString.Text
//myConfiguration.AppSettings.Settings.Item("myKey").Value = txtmyKey.Text
//myConfiguration.Save()
}
